"*":
  Zen: {}
  aligner: {}
  "aligner-ruby": {}
  "atom-alignment":
    alignBy: [
      "=>"
      "->"
      ":="
      "="
      "{"
      "value:"
      "attribute:"
    ]
    alignmentSpaceChars: [
      "->"
      "=>"
      ":="
      "="
      "{"
    ]
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 15000
    cmdArgs: "--exclude=log --exclude=.git"
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    confirmCompletion: "tab"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "symbols-view"
      "atom-ctags"
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    invisibles:
      space: "."
    scrollPastEnd: true
  "ex-mode":
    splitbelow: true
  "exception-reporting":
    userId: "822bc058-1ee2-2c33-7008-b312b2c45f20"
  "git-blame": {}
  "git-plus":
    general:
      _analyticsUserId: "2eca7b0b-49ce-4d63-93a1-f3a28920ee0f"
  "inline-autocomplete": {}
  linter: {}
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ruby": {}
  "linter-ui-default": {}
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  metrics:
    userId: "272280d30d979ce35acaf89714f6e06d35f7d9c5"
  "rails-rspec": {}
  "release-notes":
    viewedVersion: "0.73.0"
  "rspec-iterm": {}
  "ruby-test":
    rspecAllCommand: "bundle exec rake ci:rspec"
    rspecFileCommand: "spring rspec --tty {relative_path}"
    rspecSingleCommand: "spring rspec --tty {relative_path}:{line_number}"
    specFramework: "rspec"
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "sync-settings":
    _analyticsUserId: "cf5a2cdd-6f35-4114-818d-471b4dd20328"
    _lastBackupHash: "3b39e8a01641eb777c0e123f0e698ccc764d67d0"
    analytics: false
    gistId: "2606d86765ee232e08ed"
    personalAccessToken: "faf202dc2e598e9e38daee870616a8535f074c3e"
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    highlightSearch: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
